body{
    
}
.box{
    height: 900px;;
    width: 1400px;
    border: red 2px;
    
    
}
.container{
    display: flex;
    margin: 10px;
    margin: 50px;
    position: absolute;
    bottom: 0;
    top: 500px;
    align-items: center;

    

    
    
}
.para{
    height: 300px;
    width: 200px;
    border: 5px red;
    box-shadow: 2px 5px yellowgreen;
    margin: 25px;
    border-radius: 20px;
text-align: center;
    padding: 10px;
    font-size: larger;
    
    

}

.butn{
    display: flex;
    position: absolute;
    left: 300px;


}
i{
    position: absolute;
    left: 900px;
    color: orange;
    size: 80px;
    bottom: 200px;
    right: 200px;
}
h1{
    font-size: 50px;
    position: absolute;
    bottom: 200px;
}
@media(min-width:350px) and (max-width:450px){
    .box{
        height:400px;
        width: 300px;
        border: red 2px;
cursor: pointer;
    }
    .container{
        display: block;

        justify-content:space-evenly;
        align-content: space-between;
        color: yellow;
        margin-top: 50px;
        margin: 50px;
    
        
        
    }
    .para{
        height: 50px;
        width: 320px;
        border: 5px solid red;
        box-shadow: 2px 5px 5px yellowgreen;
        margin-top: 50px;
        margin-left: 15px;
        border-radius: 20px;
    text-align: center;
        padding: 10px;
        font-size: larger;
        justify-items: center;
        
        
    
    }
    
    .butn{
        display: flex;
        position: absolute;
        left: 200px;
        flex-direction: column;
        bottom: 400px;
    
    
    }
    i{
        position: absolute;
        left: 300px;
        color: yellow;
        size: 80px;
        bottom: 400px;
    }
    h1{
        font-size: 50px;
        bottom: 400px;
        position: absolute;
        display: flex;
    }
}