body{
    font-size: 20px;
    line-height: 1.4;
    padding: 0 20px;
}
h1{
    position: relative;
    margin-top: 20px;
    text-align: center;
    justify-items: center;
}
.two{
    background-color: none;
    padding: 0 10px;
    position: relative;
    z-index: 5;
}
.container1{
    border: solid red 5px;
    height: 250px;
    width: 250px;
    text-align: center;
    display: flex;
    position: relative;
    right:40%;
    left: 40%;
    box-shadow: 10px 5px orange;
    border-radius: 10px;
}
.mouse{
    text-align: center;
    font-size: larger;
    font-weight: 100; 
    font-size: 25px;


}
.mouse1{
    text-decoration: line-through;
    font-size: 20px;

}
.mouse2{
    font-size: 20px;
}
.button{
display: flex;
position: absolute;
right: 25px;

}
.one{
    width: 50vw;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin:50px;
    

}
.one span{
    background: #fff;
    padding:0 10px;
    width: 20px;
}
.box{
    height:800pX;
    width: 1300px;

}
@media(min-width:350px) and (max-width:450px){
    body{
        font-size: 20px;
        line-height: 1.4;
        padding: 0 20px;
    }
    h1{
        position: relative;
        margin-top: 20px;
        text-align: center;
        justify-items: center;
    }
    .two{
        background-color: none;
        padding: 0 10px;
        position: relative;
        z-index: 5;
    }
    .container1{
        border: solid red 5px;
        height: 250px;
        width: 500px;
        text-align: center;
        display: flex;
        position: relative;
        right:40%;
        left: 40%;
        box-shadow: 10px 5px orange;
        border-radius: 10px;
        flex-direction: column;

    }
    .mouse{
        text-align: center;
        font-size: larger;
        font-weight: 100; 
        font-size: 25px;
    
    
    }
    .mouse1{
        text-decoration: line-through;
        font-size: 20px;
    
    }
    .mouse2{
        font-size: 20px;
    }
    .button{
    display: flex;
    position: absolute;
    right: 25px;
    
    }
    .one{
        width: 50vw;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin:50px;
        
    
    }
    .one span{
        background: #fff;
        padding:0 10px;
        width: 20px;
    }
    .box{
        border: 5px solid red;
        height:800pX;
        width: 500px;
        display: block;
    
    } 
}

   